{% extends 'pages/container.html.twig' %}

{% block content %}
    <div id="course" data-id="{{ course.id }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/vendors~course.js') }}"></script>
    <script src="{{ asset('build/course.js') }}"></script>
{% endblock %}
